*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;  
    background: linear-gradient(135deg, #0420a9, #90bafc); 
    color: #fff;
    padding: 10px;
    
}

.calulator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calulator h1{
    font-size: 60px;
}

.calulator h1 span{
    color: #ffff76;
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background-color: rgb(255,255, 255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right:20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
}

.input-box button{
    background-color: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    position: absolute;  
    background-size: 30px;
    background-position: calc(100% - 10px); 
    cursor: pointer;
 }
